.helpfiles
~$*

# IDE folders
.idea
.vscode

# python junk
__pycache__

# generated launchscripts
*.bat
*.ps1
*.vbs
yt-dl
# generated json sonfigs
*.json

# default download folders
audio
videos

# fftools and dir to hide it
ffmpeg.exe
ffprobe.exe
ffplay.exe
ffdir